/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    width: 40%;
    margin: 0 auto;
    margin-top: 5%;
}

h1 {
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    text-align: start;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

select{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input{
    width: 100%;
    padding: 10px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

textarea{
    width: 100%;
    padding: 10px 0 10px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin-right: 10px;
    
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
}
